.container-dashboard {
  background: url("../assets/img/IMDb_Header_Page.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
